
    <h5>Komentarze</h5>

    <div class="comments">
        <small>
            {% for comment in comments %}
                <div>{{comment.user}} - "{{comment.content}}" {{comment.date}}</div>
                <hr />
            {% endfor %}
        </small>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj komentarz" />
        </form>
    </div>