{% extends "base.html" %}

{% block content %}
    <h3>Dodawanie posta</h3><br/>
    <form method="POST" action="{% url "nowy_wpis" %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <label for="tytul">tytul</label>
                {{ form.title }}
            </div>
            <div class="fieldWrapper">
                {{ form.text.errors }}
                <label for="tytul">tekst</label>
                {{ form.text }}
            </div>
            <div class="fieldWrapper">
                <label for="tytul">autor</label>
                <input type="text" readonly value="{{ request.user.username }}" />
            </div>
            <div class="fieldWrapper">
                <label for="tytul">tagi</label>
                {{ form.tags }}
            </div>

            <input type="submit" value="OK" />
        </fieldset>
    </form>
{% endblock %}