{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    {% for wpis in wpisy %}
        <h3>{{ wpis.title }}</h3>
        <a href="{% url 'edycja_post' wpis.id %}">Edytuj</a>
        <p>{{ wpis.pub_date }} autor: przez <a href="{% url "posty_uzytkownika" wpis.user.id %}">{{ wpis.user.username }}</a></p><br />
        {% if wpis.mod_date %}
        <p>{{ wpis.mod_date }} edycja: przez <a href="{% url "posty_uzytkownika" wpis.user2.id %}">{{ wpis.user2.username }}</a></p><br />
        {% endif %}
        <div>{{ wpis.text }}</div>
        <div class="tagi">
            tagi
                <ul>
            {% for tag in wpis.tags.all %}
                <li><a href="{% url 'posty_tag' tag.id %}">{{ tag }}</a></li>
            {% endfor %}
        </ul></div>
        <br />
        <hr /><br />
    {% endfor %}
{% endblock %}