{% extends "base.html" %}

{% block content %}
    <h3>Skontaktuj się</h3>
    {% if message %} <div style="width: 100%; padding: 5px; background: red;">{{ message }}</div> {% endif %}
    <form method="POST" action="{% url "cindex" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Skontaktuj się" />
</form>
{% endblock %}
